@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@font-face {
  font-family: 'Matahari Sans';
  src: url('/fonts/Matahari.Sans/Matahari-400Regular.otf') format('otf'),
       url('/fonts/Matahari.Sans/Matahari-400Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.shadow-large img{
  height:100%;
  width:100%;  
}
.zoom{
  transition: transform .2s;
}
.zoom div{
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px 0px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.zoom:hover{
  transform: scale(1.1);
}
.zoom:hover div{
  animation: slideUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(100%);
}
@keyframes slideUp {
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}
#projects .row {
  margin-left: 45px;
}
.title div{
  opacity: 0.7;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 0px;
  color: #ffffff;
  background: #112b3d;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}
.w-65 {
  width: 65%;
}
.text-wrapper {
  transform: translate(0, 0);
  padding: 80px 120px;
  border-radius: 20px;
  background:rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  outline: 1px solid rgba(255, 255, 255, .5);
}
.hidden-text {
  opacity: 0;
  transform: translateY(100%);
  animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#lead-down {
  text-align: center;
}

.icon-container {
  display: inline-block;
  animation: bounce 1s infinite;
}
#lead{position:relative;height:100vh;min-height:500px;max-height:1080px;padding:15px;overflow:hidden}
#services .sv-wrapper {
  display:inline-block;
  color:#374054;
  cursor:default;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#services .row {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tạo 3 cột bằng nhau */
  grid-gap: 2rem; /* Khoảng cách giữa các cột */
}
#services .container:before {
  display: none;
}
#services .row .col-4 {
  display: contents;
}

#services .row .col-4 > .content {
  height: 100%; /* Thiết lập chiều cao của nội dung cột là 100% */
  display: flex; /* Sử dụng Flexbox cho nội dung cột */
  flex-direction: column; /* Xếp nội dung cột dọc */
}

#services .row .col-12 > .content {
  width: 100%; /* Thiết lập chiều cao của nội dung cột là 100% */
  display: flex; /* Sử dụng Flexbox cho nội dung cột */
  flex-direction: column; /* Xếp nội dung cột dọc */
}

#services a {
  text-decoration: none;
}
#products {
   padding-bottom: 20px;
   padding-top: 80px;
}
#products .container{
  text-align: center;
  border-radius: 20px;
}
.products-info {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background:rgba(255,255,255,0.5);
  margin-bottom: 40px;
}
.products-info .heading{
  text-align: center;
  padding-top: 20px;
}
.products-info img {
  /* max-width: 450px; */
  height: 95%;
  width: 95%;
  margin-bottom: 30px;
  border-radius:2%;
  -moz-border-radius:2%;
  -webkit-border-radius:2%;
  transition: transform .2s;
}
.products-info img:hover{
  transform: scale(1.05);
}
.others-project {
  display: none;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
#products .row{
  margin: auto;
}
#products .row .row{
  margin-left: 2%;
  margin-right: 2%;
}
.side-project {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-top: 80px;
  padding-bottom: 20px;
}
.side-project .heading{
  padding-top: 20px;
  text-align: center;
}
.side-project img {
  /* max-width: 450px; */
  height: 100%;
  width: 100%;
  transition: transform .2s;
}
.pr-sub{
  float: left;
  padding-top: 10px;
  font-size: 18px;
  padding-left: 0px;
  transition: transform .2s;
}
.sm-project{
  padding-bottom: 20px;
}
.pr-img{transition: transform .2s;}
.pr-img:hover{transform: scale(1.05);}
.pr-sub a:hover{color:#217dbb;text-decoration:none;background:#94adc0;border-radius:4px}
@media (max-width: 1400px) {
  .others-project {
    display:block;
  }
  #projects .project {
    width: 50%;
  }
  .products-image {
    width: 50%;
  }
  .side-project{
    display: none;
  }
  .products-info {
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
header .shadow {
  border-bottom-left-radius:20px;border-bottom-right-radius:20px;
}

/* Hiệu ứng hover */
#menu li.active {
  color: #ff3865;text-decoration:none;background:#eee;border-radius:4px;transform: scale(1.05);
}

/* Hiệu ứng cho header khi cuộn đến div có ID tương ứng */
#header.active {
  /* Đặt các thuộc tính CSS mà bạn muốn thay đổi khi cuộn đến div có ID tương ứng */
  background-color: #333; /* Ví dụ: thay đổi màu nền của header */
  color: #fff; /* Ví dụ: thay đổi màu chữ của header */
}

.no-js #experience-timeline>div{background:#fff;padding:10px;margin-bottom:10px;border:1px solid #dcd9d9}
.no-js #experience-timeline>div h3{font-size:1.5em;font-weight:300;color:#374054;display:inline-block;margin:0}
.no-js #experience-timeline>div h4{font-size:1.2em;font-weight:300;color:#7e8890;margin:0 0 15px 0}
.no-js #experience-timeline>div p{color:#74808a;font-size:0.9em;margin:0}
.no-js #experience-timeline:before,.no-js #experience-timeline:after{content:none}@keyframes dropHeader{0%{transform:translateY(-100%)}100%{transform:translateY(0)}}
header{position:fixed;z-index: 999;top:0;left:0;right:0;text-align:center;animation-name:dropHeader;animation-iteration-count:1;animation-timing-function:ease;animation-duration:0.75s}header ul{display:inline-block;background:#fff;text-align:center;padding:10px;margin:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px}header li{display:inline-block}
header a{display:block;color: #ff3865;font-weight: 500;padding:10px;text-decoration: none;}
header a:hover{color: #ff3865;text-decoration:none;background:#eee;border-radius:4px;transform: scale(1.05);}
header a:focus{color: #ff3865;text-decoration:none}header.active{display:block}header.sticky{position:fixed;z-index:999}#menu.active{display:block}#mobile-menu-open{display:none;cursor:pointer;position:fixed;right:15px;top:10px;color:#3498db;font-size:1.5em;z-index:20;padding:0 7px;border-radius:4px;background:#fff}#mobile-menu-close{display:none;text-align:right;width:100%;background:#fff;font-size:1.5em;padding-right:15px;padding-top:10px;cursor:pointer;color:#3498db}#mobile-menu-close span{font-size:0.5em;text-transform:uppercase}#mobile-menu-close i{vertical-align:middle}footer{padding:50px 0;background-color: #fff;}.copyright{padding-top:20px}.copyright p{margin:0;color:#74808a}.top{text-align:center}.top span{cursor:pointer;display:block;margin:15px auto 0 auto;width:35px;height:35px;border-radius:50%;border:3px solid #b9bfc4;text-align:center}.top i{color:#74808a}.social{text-align:right}.social ul{margin:5px 0 0 0;padding:0}.social li{display:inline-block;font-size:1.25em;list-style:none}.social a{display:block;color:#74808a;padding:10px}.social a:hover{color:#3498db}
.btn-rounded-white{display:inline-block;color:#000;padding:15px 25px;border:2px solid #FFB3B3;border-radius:30px;text-decoration: none;transition:.5s ease all}
.btn-rounded-white:hover{color:#ff3865;background:#fff;text-decoration:none}.shadow{box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)}.shadow-large{box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;padding-left: 0px;padding-right: 0px;border-radius: 10px;}.heading{position:relative;color: #374054;font-size:2em;font-weight:500;margin:0 0 30px 0;}#lead-content h1,#lead-content h2{margin:10px}#lead-overlay{position:absolute;height:100%;width:100%;top:0;right:0;bottom:0;left:0;z-index:1}#lead-down{position:absolute;left:0;right:0;width:100%;text-align:center;z-index:10;bottom:15px;color:#000}
#lead-down span{cursor:pointer;display:block;margin:0 auto;width:35px;height:35px;border-radius:50%;border:2px solid #000;text-align:center}
#lead-down i{animation:pulsate 1.5s ease;animation-iteration-count:infinite;padding-top:5px}@keyframes pulsate{0%{transform:scale(1, 1)}50%{transform:scale(1.2, 1.2)}100%{transform:scale(1, 1)}}#about{padding:75px 15px}#about h2{color:#374054}#about p{color:#74808a;margin:0;text-align: justify;}#experience{padding:50px 15px;text-align:center;border-bottom:1px solid #dcd9d9}#experience h2{color:#374054}#experience-timeline{margin:30px auto 0 auto;position:relative;max-width:1000px}#experience-timeline:before{position:absolute;content:'';top:0;bottom:0;left:303px;right:auto;height:100%;width:3px;background:#3498db;z-index:0}#experience-timeline:after{position:absolute;content:'';width:3px;height:40px;background:#3498db;background:linear-gradient(to bottom, #3498db, rgba(52,152,219,0));top:100%;left:303px}.vtimeline-content{margin-left:350px;background:#fff;border:1px solid #e6e6e6;padding:15px;border-radius:3px;text-align:left}.vtimeline-content h3{font-size:1.5em;font-weight:300;color:#374054;display:inline-block;margin:0}.vtimeline-content h4{font-size:1.2em;font-weight:300;color:#7e8890;margin:0 0 15px 0}.vtimeline-content p{color:#74808a;font-size:0.9em;margin:0}.vtimeline-point{position:relative;display:block;vertical-align:top;margin-bottom:30px}.vtimeline-icon{position:relative;color:#fff;width:50px;height:50px;background:#3498db;border-radius:50%;float:left;z-index:99;margin-left:280px}.vtimeline-icon i{display:block;font-size:2em;margin-top:10px}.vtimeline-date{width:260px;text-align:right;position:absolute;left:0;top:10px;font-weight:300;color:#374054}#education{padding:50px 15px 20px 15px;border-bottom:1px solid #dcd9d9;text-align:center}#education h2{color:#374054;margin-bottom:50px}.education-block{max-width:700px;margin:0 auto 30px auto;padding:15px;border:1px solid #dcd9d9;text-align:left}.education-block h3{font-weight:500;float:left;margin:0;color:#374054}.education-block span{color:#74808a;float:right}.education-block h4{color:#74808a;clear:both;font-weight:500;margin:0 0 15px 0}.education-block p,.education-block ul{margin:0;color:#74808a;font-size:0.9em}.education-block ul{padding:0 0 0 15px}#projects{box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);padding:50px 15px;text-align:center;}#projects h2{color:#374054;margin-bottom:50px}.project{position:relative;max-width:320px;margin:0 40px 30px auto;overflow:hidden;border-radius:10px;}.project-image{float:left}.project-info{position:absolute;top:50%;transform:translateY(-50%);margin-left:300px;padding:15px}.project-info h3{font-size:1.5em;font-weight:300;color:#374054;margin:0 0 15px 0}.project-info p{color:#74808a;margin:0 0 15px 0;font-size:0.9em}.no-image .project-info{position:relative;margin:0;padding:30px 15px;transform:none}#more-projects{display:none}#services{padding:50px 15px;text-align:center}#contact{padding:50px 15px;text-align:center;}#contact-form{max-width:650px;margin:0 auto}
#contact-form input,#contact-form textarea{
  display:block;width:100%;padding:10px 20px;border:none;margin-bottom:10px;border-radius: 20px;
  background:rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  outline: 1px solid rgba(255, 255, 255, .5);color:#000;transition:.5s ease all
}

#lead-content h1{
  color:#FFB3B3;
  font-weight:900;
  font-size:5em;
  text-transform:uppercase;
  letter-spacing:0.05em;
  line-height:0.9em;
}

/* .animate-charcter
{
   text-transform: uppercase;
  background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(248,241,187,1) 30%, rgba(252,70,107,1) 70%, rgba(129,236,161,1) 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite, slide-up 1s ease-in-out forwards;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */

#lead-content h2{
  color:#374054;font-weight:400;font-size:2.25em;margin-bottom:15px;
  height: 30px;
}

#contact-form input::-webkit-input-placeholder,#contact-form textarea::-webkit-input-placeholder{
  color:#000
}
#contact-form input:-moz-placeholder,#contact-form textarea:-moz-placeholder{
    color:#fff;opacity:1
}#contact-form input::-moz-placeholder,#contact-form textarea::-moz-placeholder{
  color:#fff;opacity:1
}
#contact-form input:-ms-input-placeholder,#contact-form textarea:-ms-input-placeholder{
  color:#fff
}#contact-form input:focus,#contact-form textarea:focus{
  outline:none;
  background:rgba(255, 255, 255, 0.8);
}
#contact-form textarea{
  height:250px;resize:none
}
#contact-form button{
  display:block;margin:auto;width:34%;background:#fff;border-radius:20px;padding:5px 10px;border:none;color:#000;font-weight:700;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);transition:.5s ease all
}
#contact-form button:hover{
  box-shadow:0 5px 15px rgba(0,0,0,0.19),0 0 5px rgba(0,0,0,0.23)
}
.optional-section{padding:50px 15px;text-align:center;border-top:1px solid #dcd9d9}.optional-section h2{color:#374054}.optional-section-block{max-width:700px;margin:0 auto 30px auto;padding:15px;border:1px solid #dcd9d9;background:#fff;text-align:left}.optional-section-block h3{font-weight:500;margin:0 0 15px 0;color:#374054}.optional-section-block h4{color:#74808a;clear:both;font-weight:500;margin:0 0 15px 0}.optional-section-block p,.optional-section-block ul{margin:0 0 15px 0;color:#74808a;font-size:0.9em}.optional-section-block ul{padding:0 0 0 15px}@media only screen and (max-width: 750px){#experience-timeline:before,#experience-timeline:after{left:23px}.project{margin:0 auto 30px auto;}.vtimeline-date{width:auto;text-align:left;position:relative;margin-bottom:15px;display:block;margin-left:70px}.vtimeline-icon{margin-left:0}.vtimeline-content{margin-left:70px}}

.btn1{
    cursor:pointer;
    position:relative;
    padding:10px 20px;
    color: white;
    font-size:16px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid black;
      border-left:5px solid black;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid black;
      border-right:5px solid black;
    }
    &:hover{
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
      /* // background:rgba(0,0,0,.5);
      // color:white; */
      &:before,&:after{
        
        width:100%;
        height:100%;
        /* // border-color:white; */
      }
    }
  }


.popup-image.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.95);
}

.popup-image.active, .popup-image.active:hover {
  /* Bỏ các style CSS của ảnh nhỏ */
  max-width: none;
  transform: none;
  border-radius: 0%;
  padding-top: 0px;
}

/*General*/
html,body {
  scroll-behavior: smooth;
}
body{
  font-family: 'Matahari Sans', sans-serif;
  font-size:16px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  margin: 0;
}
body.active{overflow:hidden;z-index:-1}
#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}
/*About*/

#about {
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#about .info-list{
    color: #374054;
    font-weight: 600;
    list-style-type: none;
    margin-top: 50px;
}
#about h2 {
  color: #374054;
  margin-bottom: 50px;
  text-align: center;
}
#about img{
  max-width: 100%;
  width: auto;
  border-radius: 50%;
  margin: auto;
}
.btn-resume {
  margin-top: 45px;
}
/*services*/
#services .content {
  margin: 5px;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  color: #FF8787;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  transition: transform .2s;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
  backdrop-filter: blur(20px);
  border: #000000;
  outline: 1px solid rgba(255, 255, 255, .5);
  text-align: left;
}
#services .content p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #374054;
}

#services .content::before {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.35s ease-in-out;
  z-index: -1;
  border-radius: 10px;
  backdrop-filter: blur(20px);
}

#services .content:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.carousel-inner{
  border-radius: 10px;
}

#services .mobile{
  display: none;
}

/* Projects */
#projects  .project-desktop{
  display: block;
}
#projects  .project-mobile{
  display: none;
}

#projects img {
  width: 30%;
}
/*Mobile Optimize*/

#projects.background-alt {
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
}

.carousel-item a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  margin:auto;
  color: white;
}

@media only screen and (max-width: 992px){
  #projects .row, #products .row {margin-left: 0px;}#lead{height:auto;min-height:auto;max-height:auto;padding:100px 15px}
  #lead-content{position:relative;transform:none;left:auto;top:auto}
  #lead-content h1{font-size:3em}#lead-content h2{font-size:1.75em}
  #about{text-align:center}
  #about p{text-align:justify}
  #services .mobile{
    display: block;
  }
  #services .desktop {
    display: none;
  }
  #lead .text-wrapper {
    padding: 80px 20px;
  }
  #clients .desktop{
    display: none;
  }
  #clients .mobile{
    display: block !important;
    width: 40%;
  }
}
@media only screen and (max-width: 768px){
  header{position:fixed;display:none;z-index:999;animation:none;bottom:0;height:100%}
  #mobile-menu-open,#mobile-menu-close{display:block}
  #menu{height:100%;overflow-y:auto;box-shadow:none;width:100%}
  #menu li{display:block;margin-bottom:10px}#lead-content h1{font-size:2em}
  #lead-content h2{font-size:1.3em}
  #lead-content a{padding:10px 20px}#lead-down{display:none}.education-block h3,.education-block span{float:none}
  #about img{display:none}.project-info{position:relative;margin:0;padding:30px 15px;top:auto;transform:none}
  footer{text-align:center}.social{text-align:center}
  #about .info-list{padding: 0px;}
}

@media only screen and (max-width: 480px){#lead-content h1{font-size:1.5em}#lead-content h2{font-size:1em}#lead-content a{font-size:0.9em;padding:5px 10px}}

@media (max-width: 1200px) {
  .project-desktop{
    display: none;
  }
  .project{margin:0 auto 30px auto;}
  .project-mobile{
    display: block;
  }
}
.popup-image {
  cursor: pointer;
}

#clients {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background:rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  padding-bottom: 30px;
  padding-top: 20px;
}

#clients .heading{
  text-align: center;
  padding-top: 20px;
  margin: 0;
  margin-bottom: 30px;
}

#clients .row {
  margin:auto;
}

#clients .desktop img {
  filter: grayscale();
  margin:auto;
}

#clients img:hover {
  filter: none;
  transition: filter .1s;
}

#clients .mobile{
  display: none;
}
#clients .row-item{
  padding-top: 3rem;
}

.row-item img {
  margin:auto;
}

.col-12{
  display: flex !important;;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#logo .popup-image.active {
    background-color: rgba(255, 255, 255, 1);
}

.align-center {
  margin: auto;
}

.container {
  width: 80% !important;
}